<div class="card hovercard">
    <div class="card-background">
        <img class="card-bkimg" alt="" th:if="${userProfile.pictureId != 0}" th:src="@{/images/{username}/(username=${userProfile.username})}">
        <img class="card-bkimg" alt="" th:if="${userProfile.pictureId == 0}" th:src="@{/img/placeholder_picture.png}">

    </div>
    <div class="useravatar">
        <img class="card-bkimg" alt="" th:if="${userProfile.pictureId != 0}" th:src="@{/images/{username}/(username=${userProfile.username})}">
        <img class="card-bkimg" alt="" th:if="${userProfile.pictureId == 0}" th:src="@{/img/placeholder_picture.png}">
    </div>-
    <div class="card-info"><span class="card-title" th:text="${userProfile.firstName + ' ' + userProfile.lastName}">Pamela Anderson</span>

    </div>
</div>