<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3      ">
<div>
    <nav class="navbar navbar-default" th:fragment="nav">
        <div class="container-fluid">
            <div class="navbar-header">

                <a class="navbar-brand" href="/"><i class="fa fa-car"></i> PalForTrip</a>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <ul  class="nav navbar-nav navbar-right">
                    <li><a href="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
            <div sec:authorize="isAuthenticated()">
                <ul  class="nav navbar-nav navbar-right">
                    <li><a th:href="@{'/profile/'+${#authentication.name}}"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>
