body, html {
    height: 100%;
}

.bg {
    background-image: url("/img/404Error.png");

    height: 100%;
    padding:0;
    margin:0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}