.navbar.navbar-default {
    background-color: #f8f8f8;
    padding:0;
    margin:0;
}

body, html {
    height: 100%;
}

.container{
    padding-top: 20%;
}

.bg {
    background-image: url("/img/route.jpg");

    width: 100%;
    height: 100%;
    padding:0;
    margin:0;


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ltx {
    color: #FFF;
    font-size: 16pt;
}

.btn {
    width: 100%;
}
