
.navbar.navbar-default {
    background-color: #f8f8f8;
    padding:0;
    margin:0;
}

body, html {
    height: 100%;
}
.row {
    padding:0;
    margin:0;
    height: 100%;
}
.bg {
    background-image: url("/img/find.jpg");

    width: 50%;
    height: 100%;
    padding:0;
    margin:0;


    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}


.bg1 {

    background-image: url("/img/suggest.jpg");


    width: 50%;
    height: 100%;
    padding:0;
    margin:0;

    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-outlined.btn-primary {
    background: none;
    border: 3px solid #FFF;
    color: #FFF;
}
.btn-outlined.btn-primary:hover,
.btn-outlined.btn-primary:active {
    color: #FFF;
    background: darkgray;
    border-color: #FFF;
}

.btn-block{
    height: 40%;
}

.v2 {
    height: 100%;
    padding-left:25%;
    padding-right: 25%;
    padding-top: 50%;
    margin:0;
}