/* USER PROFILE PAGE */
body, html {
    height: 100%;
}

.navbar.navbar-default {
    background-color: #f8f8f8;
    padding: 0;
    margin: 0;
}


.bg {
    background-image: url("/img/suggest_tirip_page_bg.png");
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.btn-pref .btn {
    -webkit-border-radius:0 !important;
}


.card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}


.card.hovercard .card-background {
    height: 130px;
}


.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}


.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}


.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}


.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}


.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}


.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}


.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

.author-avatar img{
    width: 100px;
    height: 100px;
}

.star-rating {
    line-height:32px;
    font-size:2.25em;
}

.star-rating .fa-star{color: cornflowerblue}

.media {
    border-bottom: 1px dotted black;
}

.il {
    display: inline-block;
}

ul.hr {
    margin: 0;
    padding: 4px;
}
ul.hr li {
    display: inline;
    margin-right: 2px;
    padding: 3px;
}

.has-error {
    color: #ff000f;
}