.navbar.navbar-default {
    background-color: #f8f8f8;
    padding:0;
    margin:0;
}

body, html {
    height: 100%;
}

.container{
    padding-top: 10%;
}


.bg {
    background-image: url("/img/suggest_tirip_page_bg.png");

    width: 100%;
    height: 100%;
    padding:0;
    margin:0;


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ltx {
    color: #FFF;
    font-size: 16pt;
}

.ltx1 {
    color: #FFF;
    font-size: 22pt;
}

.btn {
    width: 100%;
}

.button {
    float: right;
}

.wrapper {
    float: right;
    width: 100%;
}

a {
    float: right;
}

.has-error {
    color: #ff000f;
}