.navbar.navbar-default {
    background-color: #f8f8f8;
    padding:0;
    margin:0;
}

body, html {
    height: 100%;
}

.container {
    padding-top: 10px;
    height: 100%;
}

.well {
    height: 100%;
}

.bg {
    background-image: url("/img/route.jpg");

    width: 100%;
    height: 100%;
    padding:0;
    margin:0;


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bb {
    border-bottom: 1px dotted #262626;
}

.user-avatar img {
    width: 75px;
    height: 75px;
}