<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>

<meta charset="UTF-8">
<title>Pal for trip</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/profileButtons.js}"></script>
</head>
<body>
<nav th:replace="fragments/nav" :: nav></nav>

<div class="bg">

    <div class="col-md-2"></div>
    <div class="col-md-8">

        <div th:replace="fragments/hovercard" :: hovercard></div>

        <form th:action="@{/profile/{username}/edit(username=${userProfile.username})}" method="post"
              th:object="${form}"
              enctype="multipart/form-data">
            <div class="col-sm-12 well">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>First Name</label>
                        <input type="hidden" th:value="${userProfile.username}" name="username">
                        <input type="text" th:value="${userProfile.firstName}" th:field="*{firstName}" onfocus="this.value=''" name="firstName"
                               class="form-control">
                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="has-error"> </span>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label>Last Name</label>
                        <input type="text" th:value="${userProfile.lastName}" onfocus="this.value=''" th:field="*{lastName}"  name="lastName"
                               class="form-control">
                    </div>
                    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="has-error"> </span>
                </div>
                <div class="row">

                    <div class="col-sm-6 form-group">
                        <label>Phone number</label>
                        <input type="text" th:value="${userProfile.phoneNumber}" onfocus="this.value=''" th:field="*{phoneNumber}" name="phoneNumber"
                               class="form-control">
                        <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="has-error"> </span>

                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Photo</label>
                        <input type="file" name="profilePicture" accept="image/jpeg,image/png,image/gif"/><br/>
                        <input th:if="${userProfile.pictureId != 0}" type="hidden" th:value="${userProfile.pictureId}" name="pictureId">
                    </div>
                </div>

                <button type="submit" class="btn btn-lg btn-info">Save</button>
            </div>
        </form>

        <div class="col-md-2"></div>
    </div>
</div>

</body>
</html>