<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pal for trip</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/find_trip.css}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script th:src="@{/js/date_picker.js}"></script>
    <script th:src="@{/js/cities_autocomplete.js}"></script>


</head>
<body>
<nav th:replace="fragments/nav" :: nav></nav>


<div class="bg">
    <div class="container">
        <div class="col-lg-12 ">
            <div class="row">
                <form th:action="@{/find}" method="post">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label class="ltx">From</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                                    <input type="text" class="form-control input-lg autocomplete" name="from" id="from"  placeholder="From"/>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label class="ltx">To</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control input-lg autocomplete" name="to" id="to"  placeholder="To"/>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label class="ltx">Date</label>
                                <div class="input-group input-append date">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"
                                                                       aria-hidden="true"></i></span>
                                    <input type="text" class="form-control input-lg" name="date" id="datePicker"
                                           placeholder="Date"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <div th:each="error : ${validationErrors}">
                                    <span th:text="${error.defaultMessage}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group"></div>
                            <div class="col-sm-4 form-group">
                                <button type="submit" class="btn btn-lg btn-info">Find</button>
                            </div>
                            <div class="col-sm-4 form-group"></div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>