<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Pal for trip</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main_page.css}" />

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>
<nav th:replace="fragments/nav" :: nav></nav>
<div class = "row">
    <div class="col-md-6 text-center bg">
        <div class="v2">
            <p><a href="/find" class="btn btn-outlined btn-block btn-primary btn-lg">Find trip</a></p>
        </div>
    </div>
    <div class="col-md-6 text-center bg1">
        <div class="v2">
            <p><a href="/suggest" class="btn btn-outlined btn-block btn-primary btn-lg">Suggest trip</a></p>
        </div>
    </div>
</div>

</body>
</html>