<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
<head>
    <meta charset="UTF-8">
    <title>Pal for trip</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/auth.css}"/>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</head>
<body>
<nav th:replace="fragments/nav" :: nav></nav>

<div class="bg">
    <div class="container">
        <h1 class="well">Login</h1>
        <div class="col-lg-12 well">
            <div class="row">
                <form th:action="@{/login}" method="post">
                    <div class="col-sm-12">

                        <div class="form-group">
                            <label>Login</label>
                            <input type="text" name="username" placeholder="Login" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" placeholder="Password" class="form-control">
                            <label class="err" th:if="${error}">Invalid password or/and login</label>
                        </div>
                        <button type="submit" class="btn btn-lg btn-info">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>