<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<meta charset="UTF-8">
<title>Pal for trip</title>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}" />

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
            type="text/javascript"></script>
    <script th:src="@{/js/profileButtons.js}"></script>
    <script th:src="@{/js/star_rating.js}"></script>
</head>
<body>
<nav th:replace="fragments/nav" :: nav></nav>

<div class="bg">

    <div class="col-md-2"></div>
    <div class="col-md-8">

        <div th:replace="fragments/hovercard" :: hovercard></div>

        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <div class="hidden-xs">Trips in past</div>
                </button>
            </div>
            <div class="btn-group" role="group" th:if="${userProfile.username} != ${#authentication.name}">
                <button type="button" class="btn btn-default" href="#tab2" data-toggle="tab">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    <div class="hidden-xs">Feedbacks</div>
                </button>
            </div>
            <div class="btn-group" role="group" th:if="${userProfile.username} == ${#authentication.name}">
                <button type="button" class="btn btn-default" href="#tab2" data-toggle="tab">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    <div class="hidden-xs">My Trips</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="favorites" class="btn btn-default" href="#tab3" data-toggle="tab">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    <div class="hidden-xs">User Info</div>
                </button>
            </div>
        </div>

        <div class="well">
            <div class="tab-content">

                <div class="tab-pane fade in active" id="tab1">
                    <div class="row media" th:each="trip : ${completedTrips}">

                        <a th:href="@{/trip/{id}/(id = ${trip.id})}">
                            <div class="col-md-8"><h4 class="text-center" th:text="${trip.origin.city} + ' ' + ${trip.origin.state} + '->' + ${trip.destination.city} + ' ' + ${trip.destination.state}">Hello</h4></div>
                            <div class="col-md-4">
                                <h4 class="text-right" th:text="${trip.date}"></h4><br>
                                <h4 class="text-right" th:text="${trip.cost} + '$'"></h4>
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-right">

                            <ul class="hr">
                                <li>
                                    <a th:href="@{/trips/{username}/excel/(username = ${userProfile.username})}">
                                        <i class="fa fa-file-excel-o" style="font-size:36px"></i>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/trips/{username}/pdf/(username = ${userProfile.username})}">
                                        <i class="fa fa-file-pdf-o" style="font-size:36px"></i>
                                    </a>

                                </li>
                                <li>
                                    <a th:href="@{/trips/{username}/word/(username = ${userProfile.username})}">
                                        <i class="fa fa-file-word-o" style="font-size:36px;"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="tab-pane fade in " id="tab2">

                    <div th:if="${userProfile.username} != ${#authentication.name}">

                        <div class="row media" th:each="feedback : ${feedbacks}">
                            <div class="col-md-1">
                                <div class="author-avatar">
                                    <img th:if="${feedback.authorProfilePictureId != 0}"
                                         th:src="@{/images/{username}/(username=${feedback.authorUsername})}">
                                    <img th:if="${feedback.authorProfilePictureId == 0}"
                                         th:src="@{/img/placeholder_picture.png}">
                                </div>
                            </div>
                            <div class="col-md-10">

                                <div class="media-body">

                                    <h4 class="media-heading user_name" th:text="${feedback.getAuthorFullName()}">Baltej Singh</h4>
                                    <span class="self" th:text="${feedback.getMessage()}"/>
                                    <p> <small th:text="${'Rating: ' + feedback.getRating()}"></small> </p>
                                    <p> <small th:text="${feedback.getDate()}"></small> </p>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <form th:action="@{/feedback/{username}/(username=${userProfile.username})}" method="post">

                                    <div class="star-rating">
                                        <span class="fa fa-star-o" data-rating="1"></span>
                                        <span class="fa fa-star-o" data-rating="2"></span>
                                        <span class="fa fa-star-o" data-rating="3"></span>
                                        <span class="fa fa-star-o" data-rating="4"></span>
                                        <span class="fa fa-star-o" data-rating="5"></span>
                                        <input type="hidden" name="rating" id="rating" class="rating-value" value="2">
                                    </div>
                                    <input type="hidden" th:value="${userProfile.username}" name="targetUsername">
                                    <div class="form-group">
                                        <label for="message">Message</label>
                                        <textarea class="form-control" name="message" id="message" rows="3"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" name="go" class="btn btn-lg btn-primary btn-block"> Submit </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="row media" th:if="${userProfile.username} == ${#authentication.name}" th:each="trip : ${activeTrips}">

                        <a th:href="@{/trip/{id}/(id = ${trip.id})}">
                        <div class="col-md-8"><h4 class="text-center" th:text="${trip.origin.city} + ' ' + ${trip.origin.state} + '->' + ${trip.destination.city} + ' ' + ${trip.destination.state}">Hello</h4></div>
                        <div class="col-md-4">
                            <h4 class="text-right" th:text="${trip.date}"></h4><br>
                            <h4 class="text-right" th:text="${trip.cost} + '$'"></h4>
                        </div>
                        </a>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-right">

                            <ul class="hr">
                                <li>
                                    <a th:href="@{/trips/{username}/excel/(username = ${userProfile.username})}">
                                        <i class="fa fa-file-excel-o" style="font-size:36px"></i>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/trips/{username}/pdf/(username = ${userProfile.username})}">
                                        <i class="fa fa-file-pdf-o" style="font-size:36px"></i>
                                    </a>

                                </li>
                                <li>
                                    <a th:href="@{/trips/{username}/word/(username = ${userProfile.username})}">
                                        <i class="fa fa-file-word-o" style="font-size:36px;"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>

                </div>

                <div class="tab-pane fade in " id="tab3">
                    <div class="row">
                        <div class="col-md-4 text-left">
                            <p>
                                First Name: <span th:text="${userProfile.firstName}"></span><br>
                                Last Name: <span th:text="${userProfile.lastName}"></span><br>
                                Phone Number: <span th:text="${userProfile.phoneNumber}"></span><br>
                                Rating: <span th:text="${userProfile.averageRating}"></span>/5
                            </p>
                        </div>
                        <div class="col-md-4 text-center">
                        </div>
                        <div class="col-md-4 text-right">
                            <a th:if="${userProfile.username} == ${#authentication.name}" class="block-right"
                               th:href="@{/profile/{username}/edit(username=${userProfile.username})}">edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

</body>
</html>