<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Pal for trip</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/auth.css}" />

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>
<nav th:replace="fragments/nav" :: nav></nav>

<div class="bg">
<div class="container">
    <h1 class="well">Registration Form</h1>
    <div class="col-lg-12 well">
        <div class="row">
            <form th:action="@{/registration}" th:object="${form}" method="POST" id ="registrationForm">

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Login</label>
                            <input type="text" placeholder="Enter Login Here.." id="username" th:field="*{username}" name="username" class="form-control">
                            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="has-error">
                                err
                            </span>
                            <span th:if="${loginTaken == true}" class="has-error">
                                <br>
                               Login already taken
                            </span>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label>Phone number</label>
                            <input type="text" placeholder="Enter Phone Number Here.." th:field="*{phoneNumber}" name="phoneNumber" class="form-control">
                            <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="has-error">
                                err
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>First Name</label>
                            <input type="text" placeholder="Enter First Name Here.." name="firstName" th:field="*{firstName}" class="form-control">
                            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="has-error">
                                err
                            </span>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Last Name</label>
                            <input type="text" placeholder="Enter Last Name Here.." th:field="*{lastName}" name="lastName" class="form-control">

                            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="has-error">
                                err
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Password</label>
                            <input type="password" placeholder="Enter Password Here.." th:field="*{password}" name="password" class="form-control">
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="has-error">
                                err
                            </span>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Password Confirmation</label>
                            <input type="password" placeholder="Confirm Password" name="passwordConfirmation" th:field="*{passwordConfirmation}" class="form-control">
                            <span th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}" class="has-error">
                                err
                            </span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-lg btn-info">Sing Up</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>