<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3      ">
<head>
    <meta charset="UTF-8">
    <title>Pal for trip</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/suggest_trip.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>

    <script th:src="@{/js/date_picker.js}"></script>
    <script th:src="@{/js/intermediate_points.js}"></script>
    <script th:src="@{/js/cities_autocomplete.js}"></script>


</head>
<body>
<nav th:replace="fragments/nav" :: nav></nav>


<div class="bg">
    <div class="container">
        <div class="col-lg-12 ">
            <div class="row">
                <form th:action="@{/suggest}" th:object="${form}" method="post" id = "suggestTripForm">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label class="ltx">From</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i
                                            class="glyphicon glyphicon-map-marker"></i></span>
                                    <input type="text" class="form-control input-lg autocomplete" th:field="*{origin}" name="origin" id="from"
                                           placeholder="From"/>                                </div>
                                <span th:if="${#fields.hasErrors('origin')}" th:errors="*{origin}" class="has-error"></span>

                                <div id="suggesstion-box"></div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label class="ltx">To</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                                    </span>
                                    <input type="text" class="form-control input-lg autocomplete" th:field="*{destination}" name="destination" id="to"
                                           placeholder="To"/>
                                </div>
                                <span th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}" class="has-error"></span>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label class="ltx">Cost</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-dollar"
                                                                       aria-hidden="true"></i></span>
                                    <input type="text" class="form-control input-lg" name="cost" th:field="*{cost}" id = "cost" placeholder="Cost"/>
                                </div>
                                <span th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}" class="has-error"></span>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-3 form-group"></div>

                            <div class="col-sm-3 form-group">
                                <label class="ltx">Time</label>
                                <div class="input-group registration-date-time ">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
                                    <select type="text"  class="form-control btn-lg input-lg" id="ship_date" name="hours">
                                        <option value="00">00</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                    </select>
                                    <span class="input-group-addon"></span>
                                    <select type="text" class="form-control form-control btn-lg input-lg" id="shiptime" name="minutes">
                                        <option value="00">00</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                        <option value="50">50</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label class="ltx">Date</label>
                                <div class="input-group input-append date">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"
                                                                       aria-hidden="true"></i></span>
                                    <input type="text" class="form-control input-lg" th:field="*{date}" name="date" id="datePicker"
                                           placeholder="Date"/>
                                </div>
                                <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="has-error"></span>
                            </div>


                            <div class="col-sm-3 form-group"></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 form-group"></div>
                            <div class="col-sm-4 form-group text-center">

                                <div class="wrapper">
                                    <label class="ltx1">Intermediate Points</label>
                                </div>
                                <div class="col-sm-4 form-group"></div>

                            </div>
                        </div>


                        <div class="row wrp">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4 form-group">
                                <div class="control-group" id="fields">

                                    <div class="fld_wrap" id="fld1">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i></span>
                                            <input class="form-control input-lg autocomplete" th:field="*{intermediatePoints[0]}" type="text" name="intermediatePoints[0]">

                                            <span class="input-group-btn"><button fldnum="1" class="btn btn-success btn-lg add_button" type="button"><span class="glyphicon glyphicon-plus"></span></button></span>
                                        </div>
                                        <span th:if="${#fields.hasErrors('intermediatePoints[0]')}" th:errors="*{intermediatePoints[0]}" class="has-error"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-4"></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 form-group">
                            </div>
                            <div class="col-sm-4 form-group">
                                <button type="submit" class="btn btn-lg btn-info">Suggest</button>
                            </div>
                            <div class="col-sm-4 form-group"></div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>