<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pal for trip</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/trips.css}" />

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</head>
<body>
<nav th:replace="fragments/nav" :: nav></nav>


<div class="bg">
    <div class="container well">
            <div class="row">
               <div class="col-lg-12">
               </div>
            </div>
        <div class="row bb">
            <div class="col-md-4"></div>
            <div class="col-md-4"><h1 class="text-center">Trips</h1></div>
            <div class="col-md-4"></div>
        </div>

        <div class="row bb">
            <div class="col-md-4"><h3 class="text-left">From: <span th:text="${form.from}"></span></h3></div>
            <div class="col-md-4"><h3 class="text-center">To:<span th:text="${form.to} "></span></h3></div>
            <div class="col-md-4"><h3 class="text-right">Date: <span th:text="${form.date}"></span></h3></div>
        </div>

        <div class="row bb" th:each="trip : ${trips}">
            <div class="col-md-4">
                <a class="block-left" th:href="@{/profile/{username}/(username = ${trip.authorUsername})}">
                    <div class="user-avatar">
                            <img th:if="${trip.authorProfilePictureId != 0}"
                             th:src="@{/images/{username}/(username=${trip.authorUsername})}">
                        <img th:if="${trip.authorProfilePictureId == 0}"
                             th:src="@{/img/placeholder_picture.png}">
                    </div>

                <p class="text-left"><span th:text="${trip.authorFirstName} + ' '"></span><span th:text="${trip.authorLastName}"></span></p>
                </a>
            </div>
            <div class="col-md-4">
                <a class="block-left" th:href="@{/trip/{id}/(id = ${trip.tripId})}">
                <span th:text="${trip.origin.city} + ' - ' + ${trip.destination.city}"></span>
                </a>
            </div>
            <div class="col-md-4"><h5 class="text-right"><span th:text="${trip.date}"></span></h5><br>
                <h5 class="text-right">Cost: <span th:text="${trip.cost}"></span></h5></div>
        </div>

        </div>
</div>
</body>
</html>