<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Pal for trip</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/trip_details.css}" />

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>
<nav th:replace="fragments/nav" :: nav></nav>

<div class="bg">
    <div class="container">
        <div class="col-lg-12 well">
            <div class="row">
                <div class="col-md-2 text-center">
                    <a class="block-center" th:href="@{/profile/{username}/(username = ${trip.authorUsername})}">
                        <div class="user-avatar">
                            <img th:if="${trip.authorProfilePictureId != 0}"
                                 th:src="@{/images/{username}/(username=${trip.authorUsername})}">
                            <img th:if="${trip.authorProfilePictureId == 0}"
                                 th:src="@{/img/placeholder_picture.png}">
                        </div>
                        <p class="text-center"><span th:text="${trip.authorFullName} + ' '"></span><br>
                        <span th:text="'Rating: ' + ${trip.authorRating}"></span></p>
                    </a>
                </div>
                      <div class="col-md-7 text-center">
                <span th:each="point : ${trip.tripRoutePoints}">
                    <span th:text=" '->' + ${point.city} + ' ' + ${point.state}"></span>
                </span>
                </div>
                <div class="col-md-3 text-right">
                    <h5 th:text="'Date: ' + ${trip.date}"></h5><br>
                    <h5 th:text="'Cost: ' + ${trip.cost}"></h5>
                </div>
            </div>
            <div class="row" th:if="${trip.authorUsername} == ${#authentication.name}">
                <div class="col-md-2" th:if="${not #strings.equals(trip.status, 'COMPLETED')}"  >
                    <form th:action="@{/trip/{id}/complete/(id = ${trip.id})}" method="post">
                        <button type="submit" class="btn btn-lg btn-success">Complete Trip</button>
                    </form>
                </div>
                <div class="col-md-8 text-center">

                </div>
                <div class="col-md-2" th:if="${not #strings.equals(trip.status, 'COMPLETED')}">
                    <form th:action="@{/trip/{id}/cancel/(id = ${trip.id})}" method="post">
                        <button type="submit" class="btn btn-lg btn-danger">Cancel Trip</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>